body, html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  gap: 10px;
  grid-auto-columns: 150px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #FFDE22;
  grid-column-start: 1;
  grid-column-end: 9;
}

.sidebar {
  background-color: #FF7755;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

.nav {
  background-color: #00DDFF;
  grid-column-start: 3;
  grid-column-end: 9;
}

.article {
  background-color: #bccbde;
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 5;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.footer {
  background-color: #393f4d;
  grid-column-start: 1;
  grid-column-end: 9;
}
